Package: openocd
Version: OPENOCD_VERSION.BUILD_VERSION
Architecture: amd64
Maintainer: Raphael Lehmann <raphael+openocdbuild@rleh.de>
Installed-Size: 5790
Depends: libc6 (>= 2.38), libcapstone4 (>= 4), libftdi1-2 (>= 1.5), libgpiod2t64 (>= 1.1), libhidapi-hidraw0 (>= 0.8.0~rc1+git20140201.3a66d4e+dfsg), libjaylink0 (>= 0.3.1), libjim0.82t64 (>= 0.73), libusb-1.0-0 (>= 2:1.0.16)
Section: embedded
Priority: optional
Homepage: http://openocd.sourceforge.net/
Description: Open on-chip JTAG debug solution for ARM and MIPS systems
 OpenOCD is an on-chip debugging, in-system programming and boundary-scan
 testing tool for ARM and MIPS systems.
 .
 The debugger uses an IEEE 1149-1 compliant JTAG TAP bus master to access
 on-chip debug functionality available on ARM based microcontrollers or
 system-on-chip solutions. For MIPS systems the EJTAG interface is supported.
 .
 User interaction is realized through a telnet command line interface,
 a gdb (the GNU debugger) remote protocol server, and a simplified RPC
 connection that can be used to interface with OpenOCD's Jim Tcl engine.
 .
 OpenOCD supports many different types of JTAG interfaces/programmers.
