name: Build OpenOCD

on:
  push:
    branches:
      - '*'
  schedule:
    - cron: "53 2 * * 1"

jobs:
  openocd-build:
    runs-on: ubuntu-18.04
    #env:
    #  version: ERROR_VERSION

    steps:
    - name: Build Version
      run: |
       export VERSION_TMP="$(date +'%Y%m%d.%H%M')"
       echo "::set-env name=VERSION::$VERSION_TMP"
       echo $VERSION

    - name: Setup build environment
      run: |
       sudo apt-get update
       sudo apt-get -y install \
       make libtool pkg-config autoconf automake \
       texinfo tree libusb-dev libusb-1.0 \
       libhidapi-dev libftdi-dev

    - name: Check out repository
      uses: actions/checkout@v2

    - name: Clone OpenOCD repo
      run: |
       git clone http://openocd.zylin.com/openocd.git

    - name: "./bootstrap"
      run: |
       (cd openocd && ./bootstrap)

    - name: "./configure"
      run: |
       (cd openocd && ./configure --prefix=/opt/openocd \
       --enable-ftdi --enable-stlink --enable-ti-icdi \
       --enable-ulink --enable-usb-blaster-2 --enable-ft232r \
       --enable-vsllink --enable-xds110 --enable-osbdm \
       --enable-opendous --enable-aice --enable-usbprog \
       --enable-rlink --enable-armjtagew --enable-cmsis-dap \
       --enable-kitprog --enable-usb-blaster --enable-presto \
       --enable-openjtag --enable-jlink)

    - name: Make
      run: (cd openocd && make -j8)

    - name: Make install
      run: (cd openocd && make install)

    - name: Debian package
      run: |
       sed -i s/VERSION/${{ env.VERSION }}/g deb-package/DEBIAN/control
       mkdir -p deb-package/opt/openocd
       cp -r /opt/openocd/* deb-package/opt/openocd/
       sudo chown -R root:root deb-package/opt/openocd/
       dpkg-deb --build deb-package
       mv deb-package.deb openocd-build.deb

    - name: Debian package artifact
      uses: actions/upload-artifact@v1
      with:
        name: debian-package
        path: openocd-build.deb

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.VERSION }}
        release_name: Release ${{ env.VERSION }}
        draft: false
        prerelease: true

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./openocd-build.deb
        asset_name: openocd-build.deb
        asset_content_type: application/vnd.debian.binary-package
